.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.85em;
  background-color: var(--offWhiteTwo);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--darkGrey);
  height: 30px;
  border: none;
  text-transform: uppercase;
}
