.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
}

.logo {
  margin: 10px;
  height: 25px;
}

.menu {
  color: var(--offWhiteOne);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.headerRightside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__picture {
  border-radius: 50%;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.menu__trigger {
  height: 25px;
}
