.P-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.P-modal .P-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  /* background: rgba(0, 0, 0, 0.719); */
  background: #252529;
}

.P-modal .P-modal-container {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #252529;
  box-sizing: border-box;
  padding: 20px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); */
  border-radius: 4px;
  width: 520px; /* This just a default width */
  border-radius: 15px;
}

.P-modal-head {
  display: flex;
  justify-content: center;

  color: white;
}

.P-modal-input {
  width: 100%;
  height: 40px;

  box-sizing: border-box;

  background-color: #252529;
  border: 2px solid white;
  border-radius: 10px;

  margin: 1px;
  padding-left: 15px;

  color: white;
}

.P-modal-submit {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.P-modal-button {
  border: none;
  background-color: #ff8400;
  border-radius: 15px;
  width: 100%;
  height: 30px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: large;
}

.P-modal-button:hover {
  cursor: pointer;
}
