.alert-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  pointer-events: none;
  z-index: 1;
}

.alert-box {
  width: auto;
  height: auto;

  display: none;
  position: fixed;
  z-index: 1000;
  pointer-events: all;
}

.alert-animation {
  animation-name: alertSlideIn, alertSlideOut;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 5s;
  animation-iteration-count: 1, 1;
  animation-fill-mode: none, forwards;

  display: flex;
}

@keyframes alertSlideIn {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes alertSlideOut {
  from {
    transform: translateX(0vw);
    display: flex;
  }
  to {
    transform: translateX(100vw);
    display: none;
  }
}
